<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" method="get">
        {{ form|linebreaks }}
        <input type="submit" value="submit" name="submit">
    </form>

    <div>
        <div>
            <h1> 상품 Id : {{product.id}} </h1>
            <img src= {{image_url|add:product.imageId|add:".jpg"}} />
            <img src= {{thumbnail_url|add:product.imageId|add:".jpg"}} />
            <p> 상품명 : {{product.name}}</p>
            <p> 가격 : {{product.price}}</p>
            <p> 성별 : {{product.gender}}</p>
            <p> 카테고리 : {{product.category}}</p>
            <p> 구성 성분 이름 : {{product.ingredients}}</p>
            <p> 이번 달 판매 수량 : {{product.monthlySales}}</p>
        </div>
    </div>
    <div>
        {% for element in recommended %}
        <div>
            <h1> 상품 Id : {{element.id}} </h1>
            <img src= {{image_url|add:element.imageId|add:".jpg"}} />
            <img src= {{thumbnail_url|add:element.imageId|add:".jpg"}} />
            <p> 상품명 : {{element.name}}</p>
            <p> 가격 : {{element.price}}</p>
            <p> 성별 : {{element.gender}}</p>
            <p> 카테고리 : {{element.category}}</p>
            <p> 구성 성분 이름 : {{element.ingredients}}</p>
            <p> 이번 달 판매 수량 : {{element.monthlySales}}</p>
        </div>
        {% endfor %}

    </div>




</body>
</html>